my-workflow-6cyS1pRd8zi2Xj9m.json
{"updatedAt":"2026-06-09T19:50:22.723Z","createdAt":"2026-06-09T19:49:21.353Z","id":"6cyS1pRd8zi2Xj9m","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a6b18428-c343-4302-8352-b4606698e42d","name":"Trigger Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"field-001","name":"proyecto","value":"Portal Pacientes Bupa","type":"string"},{"id":"field-002","name":"ambiente","value":"staging","type":"string"},{"id":"field-003","name":"fecha","value":"={{ $now.format('DD-MM-YYYY') }}","type":"string"},{"id":"field-004","name":"hora","value":"={{ $now.format('HH:mm:ss') }}","type":"string"},{"id":"field-005","name":"correo_destino","value":"jaime.quinelen@bupa.cl","type":"string"},{"id":"field-006","name":"total_tests","value":0,"type":"number"},{"id":"field-007","name":"tests_pasados","value":0,"type":"number"},{"id":"field-008","name":"tests_fallidos","value":0,"type":"number"},{"id":"field-009","name":"resultado","value":"pendiente","type":"string"},{"id":"field-010","name":"sprint","value":"Sprint-1","type":"string"}]},"options":{}},"id":"9a2f7066-2796-4b55-9f02-7f185d8b5104","name":"Definir Datos Reporte","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"=JaimeQuinelen1992","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"name"},"filePath":"=reportes/reporte-{{ $json.sprint }}-{{ $json.fecha }}.json","fileContent":"={{ JSON.stringify($json, null, 2) }}"},"id":"c70facb7-5277-4603-ad17-aebf440b981c","name":"Subir Reporte a GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[448,0],"webhookId":"4a379a28-235d-49bf-87df-ef74a0597b31","credentials":{"githubApi":{"id":"aXT7RQqpZOzE3nfG","name":"GitHub account"}}}],"connections":{"Trigger Manual":{"main":[[{"node":"Definir Datos Reporte","type":"main","index":0}]]},"Definir Datos Reporte":{"main":[[{"node":"Subir Reporte a GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2612b49e-c08c-449c-86c9-2a3033045cb6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-09T19:49:21.355Z","createdAt":"2026-06-09T19:49:21.355Z","role":"workflow:owner","workflowId":"6cyS1pRd8zi2Xj9m","projectId":"GzT0Rxdqc1TuTrYW"}],"activeVersion":null,"tags":[]}