respaldar-workflows-en-github-9MnPhgpZYMdNbmAF.json
{"updatedAt":"2026-06-09T19:41:17.344Z","createdAt":"2026-06-09T19:21:57.303Z","id":"9MnPhgpZYMdNbmAF","name":"respaldar workflows en github","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"e06611be-c425-4f05-bfc0-5db267bce901","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-784,1264],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"T7Ds04EA5zXrDfFU","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-384,1264],"id":"1b53c85b-0873-48d5-9488-e1c3f9363acc","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-96,1168],"id":"909294c3-202d-4dc2-b344-b93c63e66715","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1376,1264],"id":"7cf4ff88-44e7-4808-be55-9f1c992d5db4","name":"Nodo Programado"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"e08dc64b-aed3-4771-8def-d8a37697894d","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[112,1248],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"aXT7RQqpZOzE3nfG","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"c6ff4469-6a21-4d23-8fe7-988d2b7bd6f1","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[112,1440],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"aXT7RQqpZOzE3nfG","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"JaimeQuinelen1992","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n_backup","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,1264],"id":"0ff283d9-9daf-4244-ab74-0e644fe957b7","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1088,1264],"id":"d28dd4dd-0bc7-4f92-b4f4-ed478306d15f","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"aXT7RQqpZOzE3nfG","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"780ad986-2dd1-49ec-b8eb-b458e8dbc0b5","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-608,1264]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"fc0d3858-6b0a-40d5-b221-7ce61e11d989","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,1296]},{"parameters":{"content":"#  🦾Respalda tus workflows en github\n\n### Agradecimiento a: Matias Astudillo, miembro de Vibe Community VIP\n### Únete a la [comunidad exclusiva](https://www.skool.com/vibe-community-vip/about) \n\n![captura](https://subir-imagen.com/images/2025/07/28/Captura-de-pantalla-2025-07-28-171752.png)","height":512,"width":624,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1408,704],"id":"c1b0e2f3-002c-407d-8f68-c58f691b068f","name":"Sticky Note"},{"parameters":{"content":"## 🛡️ Workflow de Respaldo Automático de Workflows en N8N\n\nEste workflow se ejecuta **diariamente a las 12:00 a.m.** y respalda todos los workflows de N8N en un repositorio de GitHub.\n\n---\n\n### ⚙️ Configuración Inicial\n\n* **Repository Owner**: tu usuario de GitHub\n* **Repository Name**: nombre del repositorio\n* **Commit Date**: fecha y hora actual (`DD-MM-YYYY/HH:SS`)\n\n---\n\n### 🔐 Autenticación\n\n**GitHub:**\n\n1. Crea un repositorio en GitHub.\n2. Ve a `Settings > Developer Settings > Tokens (classic)`.\n3. Genera un token con permisos (`write-packages`).\n4. Usa el token en las credenciales de GitHub en N8N.\n\n**N8N:**\n\n1. Ve a `Settings > API` en tu instancia.\n2. Genera un token.\n3. Usa como Base URL:\n\n   ```\n   https://TU_INSTANCIA.com/api/v1\n   ```\n---\n\n### 🔄 Flujo del Proceso\n\n1. Se listan los archivos actuales del repositorio (GitHub).\n2. Se obtienen todos los workflows desde N8N (JSON).\n3. Se convierten a binario.\n4. En un loop:\n\n   * Si el archivo existe → se actualiza.\n   * Si no existe → se sube como nuevo.\n\n---\n\n### ✅ Resultado\n\nTodos los workflows quedan respaldados en GitHub con un commit que incluye la fecha y hora.\n\n\n\n","height":784,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,480],"id":"8734278b-7c11-42c3-8675-6e48df6dad54","name":"Sticky Note1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-928,1264],"id":"d68a6782-1f3f-4acd-a361-d77b4462cb4c","name":"Combinar archivos"}],"connections":{"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c984c89-3fb7-41e0-bf6a-e1379e0a1538","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-09T19:21:57.305Z","createdAt":"2026-06-09T19:21:57.305Z","role":"workflow:owner","workflowId":"9MnPhgpZYMdNbmAF","projectId":"GzT0Rxdqc1TuTrYW"}],"activeVersion":null,"tags":[]}